<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973188247715-ks5i1glc854mksqail34hn9jveu8pej9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973188247715-ks5i1glc854mksqail34hn9jveu8pej9</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Cq5IPLDU9k7_hI_48jqkE-sDPiLg3lo</string>
	<key>GCM_SENDER_ID</key>
	<string>973188247715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genoneWebFlutter</string>
	<key>PROJECT_ID</key>
	<string>genone-c0ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>genone-c0ddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973188247715:ios:cc0188afba30fb3504cf16</string>
</dict>
</plist>